*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100vw;
    height: 7.5vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.header .logo img{
    width: 300px;
    height: auto;
}

.container{
    width: 98vw;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 2.8rem;
    margin-bottom: 1em;
}

.container .menu{
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .menu a{
    margin-top: 20px;
    font-size: 1.8rem;
    padding: 10px 20px;
    border-radius: 20px;
}

.container .menu a:hover{
    color: white;
    background-color: red;
    transition: 0.8s;
}

.container .image{
    margin-left: 15vw;
    width: 50vw;
    height: auto;
}

.container .image img{
    cursor: pointer;
}

/* MODAL */
#modal-image{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: -613px;
    display: none;
}

#modal-image .close{
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-left: 2vw;
    margin-top: 2vh;
}

#modal-image img{
    display: flex;
    width: auto;
    height: 500px;
    margin: 150px auto;
}

footer{
    width: 100vw;
    height: auto;
    margin-top: 166px;
    padding: 30px;
    background-color: #020202;
    display: flex;
    justify-content: center;
    color: #ccc;
}

footer p{
    margin-top: 30px;
}

.periodic-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: #fff;
}



.periodic-table th, .periodic-table td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
}

.periodic-table th {
    background-color: #f0f0f0;
}

.periodic-table td:hover {
    transform:  scale(1.4,1.4);
    font-weight: bold;
    cursor: pointer;
}
